*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT */
.ms_txt_center{
    text-align: center;
}

.ms_txt_start{
    text-align: start;
}

.ms_txt_white{
    color: white;
}

.ms_fs_med{
    font-size: 20px;
}

.ms_fs_big{
    font-size: 40px;
}

.ms_fw_big{
    font-weight: 600;
}

.ms_fw_bold{
    font-weight: 700;
}

/* PADDING-MARGIN */
.ms_pad_small{
    padding: 10px;
}

.ms_pad_big{
    padding: 30px;
}
/* PADDING-MARGIN */

/* FLEX */
.ms_jc_center{
    justify-content: center;
}
/* FLEX */

/* NAVBAR */
.ms_bg_blue{
    background-color: #2c3e50;
}
/* NAVBAR */


/* SECTION-START */
.ms_vert_al{
    vertical-align: middle;
}

.ms_bg_green{
    background-color: #1abc9c;
}

.ms_wid_fix{
    width: 250px;   
}

.ms_line{
    display: inline-block;
    border: 2px solid white;
    width: 15%;
    vertical-align: middle;
    opacity: 1;
}

.ms_star{
    vertical-align: middle;
    padding: 10px;
    font-size: 30px;
}
/* SECTION-START */

/* SECTION-PORTFOLIO */
.ms_bc_black{
    border-color: black;
}

.ms_img_smart{
    width: 100%;
    border-radius: 15px;
}
/* SECTION-PORTFOLIO */

/* FOOTER */
.ms_bg_foot{
    background-color: #2c3e50;
}

.ms_row_foot{
    height: 100px;
    align-items: center;
}
/* FOOTER */

/* RESPONSIVE */
@media all and (min-width: 576px){}

/* MD */
@media all and (min-width: 768px){
    h1.ms_fs_big.ms_txt_white.ms_fw_bold{
        font-size: 60px;
    }
    span.ms_fs_med.ms_txt_white.ms_fw_big{
        font-size: 25px;
    }
    .ms_star{
        padding: 10px 15px
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
    }
      .navbar-expand-lg .navbar-toggler {
        display: none
    }
    .navbar-expand-lg .navbar-nav{
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
/* MD */

/* LG */
@media all and (min-width: 992px){
    .ms_line{
        width: 20%;
    }
}
/* LG */